*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.title{
    background-color: white;
}
.logo-img{
    vertical-align: middle;
    margin-left: 2em;
}
.logo-title{
    font-size: 40px;
    font-family: italic;
    vertical-align: middle;
}
main{
    border-radius: 5px;
    background-color: white;
    margin: 50px 100px 10px;
}