*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.title{
    background-color: white;
}
.logo-img{
    vertical-align: middle;
    margin-left: 2em;
}
.logo-title{
    font-size: 40px;
    font-family: sans-serif;
    vertical-align: middle;
}
.container{
    position: relative;     
    background-color: white;
    margin: 0px 100px 0px;
}
#add-container{
    height: 40px; 
    border-radius: 5px 5px 0 0;
    margin-top: 50px;
    margin-bottom: 2px;
    
}
.tab-container{
    padding: 0px 0px 30px 40px;
    border-radius: 0 0 5px 5px;
    
}
.tobo-add{
    font-size: small;
    padding: 5px 10px;
    position: relative;
    top: 30%;
    border-radius: 5px;
    
}
#add1{
    color: white;
    background-color: rgb(71, 173, 241);
    margin-left: 40px;
}
#add2{
    border: 1px solid lightgrey;
    color: lightgray;
}
.list-title{font-family: fantasy;
    font-size: larger;

}
.list-item {
    font-size: smaller;
    background-color: rgb(71, 173, 241);
    border-radius: 8px;
    padding: 2px 10px;
    color: white;
}
.ok{
    list-style: inside;
}